/* div#example_wrapper {
    overflow: auto;
    } */
    /* div#example_wrapper table#example thead tr th:nth-child(3){
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    overflow: hidden;
    }
    div#example_wrapper table#example tbody tr td:nth-child(3) {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    overflow: hidden;
    } */
    /* Apply border to the table */
    table.dataTable {
    border-collapse: collapse;
    width: 100%;
    }


    /* Apply border to table cells */
    table.dataTable td,
    table.dataTable th {
    border: 1px solid #ddd; /* Set the border color and style */
    padding: 8px; /* Adjust the cell padding */
    }

    /* Optional: Style the table header */
    table.dataTable thead th {
    background-color: #f2f2f2; /* Set a background color for the header */
    }

    /* Optional: Style the table hover effect */
    table.dataTable tr:hover {
    background-color: #f5f5f5; /* Set a background color for the hover effect */
    }

    table tbody tr:nth-child(even){
      background-color: #f5f5f5; 
    }

    /*for overlay*/
    /* .input-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
      } */
      .relative{
        position: relative;
      }
      .input-overlay{
        width: 100% !important;
        height: 38px !important;
        bottom: 0px;
        position: absolute;
        z-index: 34;
    }
    .input-overlay-file{

      width: 100% !important;
      height: 38px !important;
      bottom: 0px;
      position: absolute;
      z-index: 34;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* display: none; */
  }
  .imprt_wrapper .overlay{
     width: 77px;
     left: 0px;
  }
  /*login bg class*/

  .yellow{
    background-color: #fdb91d!important;
  }
  .blue {
    background-color:#1a4175 !important;
  }
  .data_table_files {
    width: 100% !important;
  }
  #supplier_data.data_table_files thead tr th:first-child {
    width: unset !important;
    min-width: unset;
    max-width: unset;
  }

/* .data_table_files thead tr th:first-child {
    width: 50px !important;
    min-width: 50px;
    max-width: 50px;
    box-sizing: border-box;
} */
.data_table_files thead tr th:first-child {
  white-space: nowrap;
}
table thead tr th{
  background-color: #b17828 !important;
  color: #fff !important;
  border-color: #b17828 !important;
  /* white-space: nowrap !important; */
}
.bg_yellow{
  background-color: #b17828 !important;
}
.calendar-table table thead tr th {
  background-color: transparent !important;
  color: #000 !important;
  border-color: transparent !important;
  /* white-space: nowrap !important; */
}
table#account_data  thead tr th{
  white-space: nowrap !important; 
}
/* table#account_data {
  display: block !important;
} */
/* .data_table_files tbody tr td:last-child{
    width: 70px !important;
    min-width: 70px;
    max-width: 70px;
    box-sizing: border-box;
} */
div#example_filter {
  padding-bottom: 10px;
}
.brand_logo {
  padding: 20px;
  text-align: center;
}

.brand_logo .logo_link img {
  max-width: 250px;
}
.card .card-header{
  background-color: transparent;
}
.card .card-header h3{
  margin: 10px 0px !important;
}
button.btn.blue {
  color: #fff;
}

.admin_header_logo.brand_logo .logo_link img {
  max-width: 190px;
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
  background: #fff !important;
  box-shadow: 0 0 3px;
}
.sb-topnav.navbar-dark #sidebarToggle {
  color: #000;
}
#layoutSidenav{
  width: 99%;
}
div#example_paginate{
  padding: 20px 0px;
}
a#navbarDropdown {
  color: #000!important;
}
#account_data {
	/* display: block; */
	width: 100%;
	overflow-x: auto;
}
#account_data th,#account_data td{
  padding: 10px !important;
}
svg.svg-inline--fa.fa-caret-down {
  
  margin-left: 15px !important;
}
#user_data thead tr th:last-child {
	width: 190px !important;
}
#user_data tbody tr td:last-child button {
	margin: 0px 5px;
}
.user-page #layoutSidenav_content {
	min-height: calc(55vh - 56px) !important;
}
body #main .dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #b17828 !important;
  color: #fff !important;
}
body #main  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
   opacity: 0.5;
}
.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{
  padding-top: 1.755em;
  padding-bottom: 20px;
}
div#userModal .modal-header,
#updateuserModal .modal-header,
#exampleModal .modal-header,
.modal .modal-header{ 
  justify-content: center !important;
  padding: 10px !important;
}
div#userModal .modal-header button.close,
#updateuserModal  .modal-header button.close,
#exampleModal  .modal-header button.close,
.modal .modal-header button.close{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-color: #dc3545;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  opacity: 1;
  color: #fff;
  padding: 5px !important;
}
div#userModal .modal-content,
#updateuserModal .modal-content,
#exampleModal  .modal-content,
.modal .modal-content{
  border-radius: 25px;
}
div#userModal .modal-header h5,
#updateuserModal .modal-header h5,
#exampleModal .modal-header h5 ,
.modal .modal-header h5{
  font-size: 30px;
}
  table.data_table_files.dataTable.no-footer thead tr th:last-child {
    white-space: nowrap;
}
/* table.data_table_files.dataTable.no-footer tbody tr td:nth-child(2) {
  width: 500px !important;
  min-width: 500px !important;
  max-width: 500px;
} */
#example_wrapper table#example.data_table_files.dataTable.no-footer tbody tr td:nth-child(1) {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px;
}
#example_wrapper table#example.data_table_files.dataTable.no-footer tbody tr td:nth-child(3) {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px;
}
div#layoutSidenav_nav {
  position: fixed;
  width: 250px;
  height: 100vh;
}

div#layoutSidenav_content {
  margin-left: 250px !important;
  overflow: hidden;
}
.sb-sidenav .sb-sidenav-menu .nav {
  height: calc(100vh - 67px);
  overflow: auto;
}
.sb-sidenav .sb-sidenav-menu .nav::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.sb-sidenav .sb-sidenav-menu .nav::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sb-sidenav .sb-sidenav-menu .nav::-webkit-scrollbar-thumb {
  background: #b17828; 
}

/* Handle on hover */
.sb-sidenav .sb-sidenav-menu .nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.btn.updateuser,.btn.remove{
   font-size: 14px;
   padding: 5px 10px;
}
.row_details p b {
  min-width: 144px;
  display: inline-block;
}
.row_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.row_details p {
  width: 49%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 7px;
}
.dropdown.custom_drop_down {
  text-align: center;
}

.dropdown.custom_drop_down .dots {
  font-size: 20px;
  color: #000;
}
.dropdown.custom_drop_down .dropdown-menu.show {
    padding: 0px;
    min-width: 120px !important;
}

.dropdown.custom_drop_down .dropdown-menu.show a {
    display: block;
    color: #000;
    padding: 7px 15px;
}

.dropdown.custom_drop_down .dropdown-menu.show a:hover{
  text-decoration: none;
  background-color: #b17828;
  color: #fff;
}
.dropdown.custom_drop_down .dropdown-menu.show svg {
    margin-right: 7px;
}
.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  transform: translate(50%, -50%);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manage_account_link {
  display: flex;
  align-items: center;
}
.manage_account_link  .notification-count{
  width: 20px;
  height: 20px;
  font-size: 10px;
}
.manage_account_link .nav-link {
  padding-right: 0px;
  margin-right: 20px;
}

.manage_account_link a.bell_icon_link.position-relative {
  color: #fff;
}
@media (max-width:992px) {
  div#example_wrapper {
    overflow: auto;
    }
}

/* ___ */
div#editAccountModal .modal-dialog {
  max-width: 700px;
}
div#editAccountModal .modal-dialog .modal-body {
  padding: 15px 58px;
}
div#editAccountModal .modal-header {
  justify-content: center;
}

div#editAccountModal .modal-header button.btn-close {
  position: absolute;
  right: 10px;
  top: 7px;
}
div#editAccountModal .modal-footer {
  justify-content: center;
}
th.inncnetive_rebate.sorting {
  width: auto !important;
}
.password_card .card-header {
  /* text-align: center; */
  background: #b17828 !important;
  border: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}
ul.dropdown-menu.dropdown-menu-end.hover.show {
  margin: 0px;
  padding: 0px;
  box-shadow: 0 0 13px rgba(0,0,0,0.3);
  border: 0px;
}
ul.dropdown-menu.dropdown-menu-end.hover.show li a{
  padding: 10px ;
  transition: 0.3s ease-in-out;
}
ul.dropdown-menu.dropdown-menu-end.hover.show li a:hover {
  background: #b17828;
  color: #fff;
}
ul.dropdown-menu.dropdown-menu-end.hover.show hr.dropdown-divider {
  margin: 0px;
}
div#layoutSidenav div#layoutSidenav_content.ms-0 {
  margin-left: 0px !important;
}

/* -collapsible sidebar css- */
/* --- */
div#layoutSidenav_nav{
  left: 0px !important;
  transition: left 0.5s ease-in-out !important;
  transform: none !important;
}
div#layoutSidenav_nav.collapsed {
 left: -260px !important;
}
#layoutSidenav #layoutSidenav_content{

  transition: margin 0.6s ease-in-out !important;
}
div#layoutSidenav_content.collapsedfull{
  margin-left: 0px !important;
}
.container{
  max-width: 100% !important;
}
@media (min-width:1200px) {
  .login_container.container{
    max-width: 1140px !important;
  }
}
.login_container button.blue{
   padding: 8px 35px;
   width: 200px !important;
}
#example_wrapper #example {
  display: inline-table !important;
}

div#updateuserModal .modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}

div#userModal .modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
}